@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}


.slider__left-value
 {
  color: white;
  background-color: #999999;
  font-size: 12px;
  margin-top: 20px;
  width:48px;
  height:32px;
  text-align: center;
}

.slider__left-value {
  left: -16px;
}

.slider__right-value {
  right: -16px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  /*
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  */
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 300px;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 30;
}

.thumb--zindex-4 {
  z-index: 40;
}

.thumb--zindex-5 {
  z-index: 50;
}


.thumb::-webkit-slider-thumb {
  /*
  background-color: #f1f5f7;
    border-radius: 50%;

  */
  border: none;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-moz-range-thumb {
  /*
  background-color: #f1f5f7;
    border-radius: 50%;

  */
  border: none;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
